.navbar, .navbar-brand {
  height: 100px;
}

.navbar-brand {
  width: 150px;
  background: url(../img/logo_1.png) no-repeat;
  background-position: 50% 50%;
  padding: 0;
}

.navbar-right {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-right: -15px;
}

.navbar-right li {
  height: 100px;
  margin-left: 50px;
}

.navbar-right li a {
  display: block;
  height: 100px;
  line-height: 100px;
  padding: 0px;
  font-size: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #151515;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #0163D2;
}

.banner {
  height: 785px;
}

.banner .swiper1 {
  height: 758px;
}

.ban_kk {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 9%;
}

.ban_kk .ban_h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 15px;
  position: relative;
  top: 80px;
  display: none;
}

.ban_kk .ban_btn {
  padding: 10px 40px 6px;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  position: relative;
  top: 60px;
  display: none;
}

.con1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.con1 .con1_im {
  width: 100%;
  height: 100%;
  position: relative;
}

.con1 .con1_im:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

@keyframes xx {
  0% {
    left: -100%;
  }
  100% {
    left: 150%;
  }
}

.footer-section {
  background-color: #151515;
  padding-left: 9%;
  padding-right: 9%;
}

.footer-section .footer-top {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-section .footer-bottom {
  padding: 20px 0;
  border-top: 1px solid #999999;
  position: relative;
}

dl {
  position: relative;
  height: auto;
}

dt {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}

dd {
  color: #CCC;
  margin: 15px 0;
}

dd:hover {
  color: #007bff;
}

.fo_im {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 5px 5px 0 0;
  border: 2px solid #cccccc;
  color: #cccccc;
  border-radius: 100%;
}
