@media (max-width:1500px){
    .banner {
        height: 620px;
      }
      
    .banner .swiper1 {
        height: 620px;
    }
}
@media (max-width:1000px){
    .navbar,.navbar-brand{
        height: 70px;
    }
    .navbar-right li {
        height: 70px;
        margin-left: 20px;
    }
      
    .navbar-right li a {
        display: block;
        height: 70px;
        line-height: 70px;
        padding: 0px;
        font-size: 18px;
    }
}
@media (max-width:990px){
    .banner {
        height: 400px;
      }
      
    .banner .swiper1 {
        height: 400px;
    }
    .ban_kk .ban_h1 {
        font-size: 40px;
    }
}
@media (max-width:768px){
    .navbar,.navbar-brand{
        height: 55px;
    }
    .navbar-right li {
        height: 55px;
        margin-left: 10px;
    }
    .navbar-right{
        width: 150px;
        left: 100%;
        transform: translate(-100%);
        background-color: #eee;
    }
    .navbar-right li a {
        display: block;
        height: 55px;
        line-height: 55px;
        padding: 0px;
        font-size: 18px;
    }
    .banner {
        height: 300px;
      }
      
    .banner .swiper1 {
        height: 300px;
    }
    .ban_kk .ban_h1 {
        font-size: 30px;
    }
}
@media (max-width:620px){
    .banner {
        height: 250px;
      }
      
    .banner .swiper1 {
        height: 250px;
    }
    .ban_kk .ban_h1 {
        font-size: 24px;
    }
}